<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Causal Inference</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <link rel="stylesheet" href="/frontend/static/style.css">
    <link rel="stylesheet" href="/frontend/static/causal-discovery/style.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Causal Discovery with {{ algorithm }} </h1>
        <div class="horizontal-container">
            <input class="choose-file" type="file" id="csvFileInput" accept=".csv"/>
            <button class="toy-dataset-button" id="toyDatasetChosal" onclick="chooseToyDataset('predictive_maintenance.csv')">Use toy dataset (Predictive Maintenance)</button>
        </div>
    </div>
    
    <div class="container">
        <div id="columns" class="column-container">
            <div class="column" id="default-column" ondrop="drop(event, 'exogeneous-column')" ondragover="allowDrop(event)">
                <h2>Variables</h2>
            </div>
        </div>
    </div>
    
    <div class="calling-container">
        <button onclick="callCausalDiscovery_TimeSeries()" class="calling-button" id="obtain-causalities-button">Obtain causalities</button>
        <div id="loading-container">
            <img src="/frontend/static/images/loading.gif" alt="Loading..." class="loading-gif">
        </div>
    </div>
    
    <div id="graph-container"></div>
    
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="/frontend/static/causal-discovery/script.js"></script>
</body>
</html>
