body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 40px 0;
    padding: 40px;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.horizontal-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 10%;
}

.title {
    color: #3444d0c3;
    margin-bottom: 20px;
}

.text-item {
    background-color: #405cc1f7;
    padding: 10px;
    margin: 5px 0; 
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

/* Avoid the blue color when clicking on a link */
a, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
  }

select {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

select:focus {
    border-color: #405cc1f7;
    box-shadow: 0 0 5px rgba(64, 92, 193, 0.5);
}

