<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Causation Web</title>
    <link rel="stylesheet" href="/frontend/static/style.css">
    {% block extra_head %} {% endblock %}
</head>
<body>
    <div class="home-button">
        <a href="/"><img src='/frontend/static/images/home-logo.png'/ width="40px">  </a> <!-- Home button at top left -->
    </div>

    <div class="container">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
