hyppo==0.3.2
lingam==1.8.0
matplotlib==3.6.3
netCDF4==1.5.7
netCDF4==1.6.4
numpy==1.21.1 # There was set 1.21.5, which is not available
pandas==1.4.4
scikit_learn==1.0.2
scipy==1.7.3
scipy==1.8.0
tigramite==5.2.1.30
xarray==2022.11.0
xarray==2022.3.0
